header {
    justify-content: center;
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    line-height: 50px;
}

canvas {
    display: block;
}

.endGame {
    justify-content: center;
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    font-family: 'Courier New', Courier, monospace;
}

.modal-dialog {
    min-width: 700px;
}

.carousel-item {
    position: absolute;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    left: 10%;
    max-width: 500px;
}

.tutorial {
    right: 10px;
    text-align: end;
    justify-content: center;
    position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

header .col-sm {
    float: none;
    margin: 0 auto;
}

footer {
    justify-content: center;
    position: absolute;
	bottom: 1px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    margin-right: 30px;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    margin-left: 30px;
}